/* ------------------------------------------------------ reset default styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
  font-size: 11px;
  color: var(--black);
  background-color: var(--blue2);
  width:100%;
  min-width: 768px;
}

ul li {
  list-style-type: none;
}

/*-------------------------color overrides*/
:root {
  /* Primary Colors */
  --white: #ffffff;
  --black: #000000;
  --blue: #00a8c6;
  --blue2: #f8fdff;
  --grey: #505050;
  --grey2: #909090;
  --grey3: #d0d0d0;
  --grey4: #f5f5f5;
  /* Secondary Colors */
  --green: #519548;
  --red: #FA2A00;
  --url: #0000EE;
  /* Status Colors */
  --new: #DBFCC8;
  --progress: #DCE8FF;
  --new: #FFEEC2;
  --error: #FFC6C6;
  --done: #FFC6C6;
}

/*------------------------------typography*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: var(--black;);
}

h1 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-weight:bold;
  font-size: 14px;
}

p {
  font-size: 11px;
}

.navFont {
    font-size: 12px;
}

.fontBold {
  font-weight: bold;
}

/* ---------------------------------------------------- Responsive Screen Size*/
/* ------------------------ On smaller screens*/
@media screen and (max-width: 1024px) {
  .navLocation {
    display: inline;
    width: 50%;
    float: left;
  }

  .navbar-right span {
    display:none;
    overflow: hidden;
  }

  .sideNav-big span{
    display:none;
  }

  .mainContainer{
    padding-left: 60px !important;
  }

  .table {
    display: block;  overflow: hidden;
  }

  .col-3, .col-7, .col-5{
    clear: both;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .navLocation {
    width: 0;
  }
}
/* *--------------------- On bigger screens*/
@media screen and (min-width: 1440px) {

}

/*----------------------------------------------------------------- Navigation*/
a:link {
}

a:visited {
  color: var(--grey2);
}

a:hover {
}

a:active {
}

a {
  text-decoration:none;
}

.navbar {
  z-index: 1010; /* infront the sideNav */
  background-color: var(--grey4);
  height: 56px;
  border-bottom: 1px solid var(--grey3);
  position: fixed;
  width:100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.navbar-logo {
  float: left;
}
.navbar-logo img {
  padding:6px 0 0 20px;
}

.navLocation {
  display: inline-block;
  max-width: 650px;
  overflow: hidden;
  color: var(--grey2);
  font-size: 14px;
  font-weight: bold;
  line-height: 56px;
}

.navbar-right {
  margin-right:10px;
  float: right;
  line-height: 56px;
}

.navbar-right li {
  float: left;
}

.navbar-right span {
  padding-left: 5px;
}

.navbar-right img {
  display: inline-block;
  vertical-align: middle;
}

.navbar-right a {
  padding: 5px;
}

.navbar-right a:hover {
  background-color: var(--blue2);
  border-radius: 3px;
}

/*------------------------------sideNav*/
.svg-blue {
  filter: invert(56%) sepia(75%) saturate(4287%) hue-rotate(156deg) brightness(96%) contrast(101%);
}

.sub-toggle {
  text-align: right;
}

.sideNav {
  font-size: 12px;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Behind the navbar */
  padding: 0;
  background-color:  var(--grey4);
}

.sideNav img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

.sideNav a {
  color: var(--grey);
  padding:10px 5px 10px 10px;
  display: block;

}

.sideNav a:hover {
  color: var(--blue);
  background-color: var(--blue2);
}

.sideNav a:hover img{
  filter: invert(56%) sepia(75%) saturate(4287%) hue-rotate(156deg) brightness(96%) contrast(101%);
}

.sideNav .active {
  color: var(--blue);
  background-color:var(--blue2);
  border-left: 3px solid;
}

/*-------------------------------- sub top navigation */
.subTopNav {
  overflow: hidden;
  padding: 12px 0 10px 0;
}

.subTopNav a {
  float: left;
  display: block;
  color: var(--grey2);
  text-align: center;
  padding-bottom: 4px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.subTopNav a:hover {
  border-bottom: 2px solid var(--blue);
  background-color: var(--grey4);
}

.subTopNav a.active {
  color: var(--black);
  border-bottom: 2px solid var(--blue);
}
/*------------------------------- actionNav navigation */
.actionNav {
  overflow: hidden;
}

.actionNav a {
  float: left;
  display: block;
  color: var(--blue);
  text-align: center;
  padding: 2px;
  margin:0 20px 12px 0;

  text-decoration: none;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.actionNav a:hover {
  background-color: var(--grey4);
  border-radius:3px;
}

.actionNav a.active {
  color: var(--black);
}
/*-------------------------------- sub top navigation */
.tabNav {
  overflow: hidden;
  padding-top: 12px;
  position: relative;
}

.tabNav a {
  float: left;
  display: block;
  padding: 6px 15px 4px 15px;
  border-radius: 3px 0px;
  color: var(--grey3);
  text-align: center;
  margin-right: 20px;
  text-decoration: none;
  font-size: 11px;
}

.tabNav a:hover {
  color: var(--black);
  /* background-color: var(--white); */
}

.tabNav a.active {
  color: var(--black);
  background-color: var(--white);
  font-weight: bold;
  box-shadow: 2px -2px 10px -5px var(--grey3);
}

.tabContents div {
    display: none;
}

.tabContents div:target {
    display: block;
}

.tabButton {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 15px 4px 15px;
  border-radius: 3px;
  color: var(--grey3);
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
  font-size: 11px;
}

/* Style the active class, and buttons on mouse-over */
.tabActive, .tabButton:hover {
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
}
/*----------------------------------------------------------------------- Main*/
main {
  width: 100%;
  padding-top: 56px;
}
.mainContainer{
  padding-left: 165px;
  padding-right: 20px;
}

.mainTitle {
  padding-top: 12px;
}

/* ------------------------------ Grid */

.row {
  margin-top: 12px;
  background-color: var(--white);
  padding: 12px 20px 18px 20px;
}

.rowWhite {
  background-color: var(--white);
  padding: 12px 20px 18px 20px;
}

.container {
  width: 100%;
  overflow: auto;
}

.mr1{
  /* margin right 2% */
  margin-right: 1%;
}
.mr2{
  /* margin right 2% */
  margin-right: 2%;
}

.formDivider {
  border-right: 1px solid var(--grey4);
  padding-right: 10px;
  margin-right: 20px;
  height: auto;
}

.col {
  float: left;
}

.col-1 {
  min-width: 100px;
  width: 10%;
  float: left;
}

.col-3 {
  width: 29%;
  float: left;
}

.col-5 {
  width: 49%;
  float: left;
}

.col-7 {
  width: 69%;
  float: left;
}

.subBarTitle {
  padding-left: 20px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--grey3);
  line-height: 24px;
  margin-top: 12px;
  vertical-align: middle;
}

/*------------------------------ collapse/expand div */
.expandDiv {
  padding-bottom: 12px;
}
.expandDiv .details {
  padding: 12px 20px;
}

.expandDiv a{
  font-size: 12px;
  color:var(--blue);
  font-weight: bold;
}

.iconExpand {
  display: inline-block;
  height: 12px;
  width:12px;
  position: relative;
  top: 90%;
  transform: translateY(10%);
  padding-right: 5px;
}

.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}

/*------------------------------ Table */
.table {
  border: 1px solid var(--grey3);
  background-color: var(--white);
}

table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}

thead {
  width: auto;
  color: var(--grey2);
  background-color: var(--grey4);
  border-bottom: 1.1px solid var(--grey3);
  text-align: left;
  padding: 0 20px;
}

tbody td, th {
  width: auto;
  height: 24px;
  border-top: 1px solid var(--grey4);
  line-height: 24px;
  padding: 0 10px;
}

.table-hover tbody>tr:hover {
  background-color: var(--grey4);
}

/*------------------------------- Form */
::placeholder {
  color: var(--grey3);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--grey3);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--grey3);
}

label {
  color: var(--grey2);
}

/* -------------------------input text,select */
input[type=text], select{
  width:90%;
  padding: 0px 5px;
  margin: 2px 0px 5px 0;
  height: 24px;
  color: var(--black);
  box-sizing: border-box;
  border: 1px solid var(--grey3);
  border-radius: 3px;
}

input:focus, select:focus{
    outline: none !important;
    border:1px solid var(--blue);
}

input:hover, select:hover{
    background-color: var(--grey4);
}

/* -------------------------input button & submit*/
input[type=submit], input[type=button] {
  font-size: 11px;
  text-transform:capitalize;
  padding: 4px 15px;
  margin: 10px 0;
  height: 24px;
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 3px;
  box-shadow: 2px 2px 8px -5px var(--blue);
}

input[type=submit]:hover, input[type=button]:hover{
  border: 1px solid var(--white);
}

input.buttonWhite {
  border: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

input.buttonWhite:hover {
  border: 1px solid var(--grey3);
}

/* -------------------------input Checkbox & Radio */
input[type='checkbox'], input[type='radio'] {
  filter: grayscale(1);
}
input[type='checkbox']:hover, input[type='radio']:hover {
  filter:invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
}

.checkboxes, .radios {
  margin-top: 15px;
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  line-height: 20px;
}

.checkboxes input, .radios input {
  vertical-align: middle;
  margin-right: 5px;
}

.checkboxes label span, .radios label span {
  vertical-align: middle;
  color: var(--black);
}

/* -------------------------tags*/
.tags {
  padding: 2px 8px;
  background-color: var(--blue);
  border-radius: 50px;
  display: inline-block;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.tags:visited {
  color: var(--white);
}
/* ------------------------------------------------------------------- Footer */
footer {
  padding: 20px;
  padding-bottom: 40px;
  text-align: right;
  color: var(--grey3);
  font-size: 10px;
}
